@media print {
    * {
        visibility: hidden;
    }

    #price-tags {
        /* width: 95vw !important; */
        width: 220mm;
        height: 100%;
        visibility: visible;
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
        /* table-layout: fixed; */
        z-index: 1000;
    }

    .newTableBody {
        /* width: 100% !important; */
        /* height: 100%; */
        /* position: relative; */
        /* left: 50%; */
        /* transform: translateX(-50%); */
        /* top: -30%; */
        /* overflow: hidden; */
    }

    .newPrintingElement {
        visibility: visible;
    }
}

.newMainButton {
    position: absolute;
    top: 50%;
    LEFt: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(28, 30, 40);
    width: 140px;
    height: 40px;
    border-color: #1565c0;
    border-width: 2px;
    border-style: solid;
    font-size: 14px;
    font-weight: 700;
    color: white;
    border-radius: 7px;
    display: none;
}

.newMainButton:hover {
    background-color: rgb(45, 48, 63);
}

.newSettingsBar {
    display: flex;
    width: 100%;
    height: 74px;
    background-color: rgb(28, 30, 40);

    border: 2px solid #1565c0;
    border-radius: 7px;

    overflow: hidden;

    padding: 0px 10px;
}

/* COLOR PICKERS */

.newColorPickerDiv {
    flex: 0.12;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newColorLabel {
    text-align: center;
    font-weight: 800;
    font-size: 13px;
    color: white;
    padding-top: 2px;

    -webkit-text-stroke: 0.5px #1565c0;
}

.newColorInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80%;
    height: 80%;

    max-width: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    margin-bottom: 2px;
}

.newColorInput::-webkit-color-swatch {
    border-radius: 24px !important;
    border: 1.4px solid #1565c0;
}

.newColorInput::-moz-color-swatch {
    border-radius: 24px !important;
    border: 1.4px solid #1565c0;
}

/* RANGE SLIDER */

.newSliderRangeDiv {
    display: flex;
    flex-direction: column;

    flex: 0.32;
}

.newRangeLabel {
    text-align: center;

    font-weight: 800;
    font-size: 13.4px;
    color: white;
    padding-top: 2px;

    -webkit-text-stroke: 0.5px #1565c0;
}

.newSliderInput {
    margin: 12px 10px;
}

/* NEW PRINT BUTTON */
.newParentOfPrintButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPrintButton {
    height: 36px !important;
    min-width: 107.4px !important;

    font-size: 14.4px;
    letter-spacing: 1.25px;

    /* box-sizing: border-box; */

    margin-right: 14px;
    padding: 4px 16px;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 4.9px;

    color: rgb(255, 255, 255);
    /* position: relative; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.newPrintButton:hover {
    background-color: #489eff;
}

/* PRICE TAGS */
.newTableRow {
    break-inside: avoid;
    /* min-height: 96px !important; */
}

.newTableData {
    /* height: 160px; */
    /* min-height: 96px !important; */
    overflow: hidden;
}

.newTagContainer {
    height: 100%;
    width: 100%;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);

    position: relative;

    box-sizing: border-box;

    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: Caveat !important; */
    /* font-family: Lugrasimo; */
    font-family: 'Montserrat';
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.newDesing {
    height: 14.4%;
    width: 100%;

    position: absolute;
    background-color: rgb(170, 205, 64);
}

.desingTop {
    top: 0;
    border-bottom: 1px solid #090909;
}

.desingBottom {
    bottom: 0;
    border-top: 1px solid #090909;
}

.newLogoTag {
    height: 30%;
    z-index: 2;
    position: absolute;
    bottom: 7%;
    left: -1px;
    transform: scaleX(-1);

    max-height: 50px;
    min-height: 30px;
}

.newTagInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.newTagName {
    text-transform: uppercase;
    text-align: center;
    font-size: 110%;

    /* font-weight: 900; */
    font-weight: 700;
    /* letter-spacing: 1px; */

    color: rgb(220, 9, 9);
    /* -webkit-text-stroke: 0.5px #000000; */

    max-width: 100%;
}

.newTagPrice {
    display: flex;
    align-items: center;
    color: rgb(27, 9, 220);
}

.newPrice1 {
    /* height: 100%; */
    /* flex: 0.1; */

    font-size: 240%;
    /* font-weight: 900; */
    font-weight: 700;
    /* -webkit-text-stroke: 0.9px rgb(11, 0, 0); */
}

.newPrice2 {
    font-size: 80%;
    /* height: 100%; */
    /* -webkit-text-stroke: 0.5px #000000; */

    /* flex: 0.4; */

    padding-top: 4px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.newDecimal {
    font-size: 170%;
    /* font-weight: 900; */
    font-weight: 600;
    display: flex;
    flex-direction: column;
    transform: translateY(20%);
}

.newValue {
    font-size: 100%;
    /* font-weight: 900; */
    font-weight: 600;
    transform: translateY(-24%);
}

.newTagCode {
    height: 14.4%;
    position: absolute;
    bottom: 0px;
    right: 4px;
    color: #ffffff;
    font-family: 'Roboto';
    -webkit-text-stroke: 0.5px #090909;
    font-weight: 900;
    font-size: 14px;
    display: flex;
    justify-content: center;
}